doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Pug
  body
    // This is commentary
    //- This pug commentary
    .div1
      .div2 This div2
    p.
      sdcsds
      sdcsdc sdcsd
      sdcsd sdcsdcs

      sdcsd
    p sdcsdcsd sdcsdcsdc